@import url(http://fonts.googleapis.com/css?family=Hind:400,700);

/* General styling */
body {
	font-family: "Hind", Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.5em;
  /*background-color: black;*/

  background-size: cover;
  background-position: center;
}

img {
  height: auto; 
  width: auto;
  max-width: 100%;
}

h2 {
  font-size: 3em; 
}

a {
  text-decoration: none;
  color: #288BB2;
}

a:hover, a:focus {
  text-decoration: underline;
}

h1 {
  font-size:3.5rem;
  line-height: 1em;
  z-index: 1;
  font-weight: 900;
  color: #eee;
}

.fullscreen-img {
  height: auto; 
  width: auto;
  max-width: 100%;
}

.header {
	margin-top: 2em;
}

/* Use on all elements that are too close to the edges to give space*/
.wrapper {
  padding: 0em 2em;
}

/* Styling for the navigation button */
#nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(30, 30, 30, 0.9);
  z-index: 9999;
}

/* Hamburger Menu */
#hamburger {
  position: absolute;
  right: 2em;
  visibility: hidden;
}

#hamburger-icon {
  width: 50px;
  position: relative;
  top: 0.2em;
}

#hamburger-text {
  width: 8em;
  color: #FFF;
  display: inline-block;
  position: absolute;
  right: -2.8em;
  top: -1.5em;
}

.dd-list {
  position: absolute;
  margin-top: 1.5em;
  width: 9em;
  max-width: 10em;
  right: -100000em;
  top: 2em;
  display: block;
  list-style-type: none;
}

.dd-list a {
  display: block;
  width: 100%;
  padding: 0.7em 0.5em;
  text-align: center;
  color: #FFF;
  background-color: rgba(30, 30, 30, 0.9);
  z-index: 9999;
  border-top: 1px solid white;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.dd-links:hover, .dd-links:focus {
  text-decoration: none;
  color: #999;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

/* Regular Nav menu */
#logo-image {
  display: inline-block;
  position: relative;
  top: 0.85em;
  float: left;
  left: 2em;
}

#logo-text{
  display: inline-block;
  position: relative;
  float: left;
  margin: 0;
  padding: 1em 1.4em;
  left: 1.2em;
  color: white;
}

#nav-right {
  position: relative;
  float: right;
}

.button-nav-right {
  float: right;
  right: 1em;
}

.button-nav {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 1em 2em;
  color: #FFF;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  visibility: visible;
  opacity: 1;
}

/* Breakpoint: make hamburger drop down app ear */
@media (max-width: 671px) {
  .button-nav {
    display: none;
  }

  #hamburger {
    visibility: visible;
    opacity: 1;
  }

  .dd:hover > .dd-list {
    right: 0;
    top: 2em;
  }  
}

.button-nav:hover, .button-nav:focus {
  text-decoration: none;
  color: #999;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

/* Styling for regular button */
.button-regular {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 1em 3em;
  color: #FFF;
  background-color: #288BB2;
  border-radius: 0.2em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-regular:hover, .button-regular:focus {
  background-color: #227893;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-center {
  display: block;
  width: 14em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.home-bottom-button {
  width: 16em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

@media (max-width: 1040px) {
  .home-bottom-button {
    display: block;
    width: 16em;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 1em;
  }
}

/* Home page */
/* Section 1 */
.section1 {
  background: url("../img/Security2-1.jpg") no-repeat;
  background-size: cover;
  margin: 0;
  max-width: 100%;
  height: 50em;
}

.section1-content {
  position: relative;
  top: 10em;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

.section-header1,
.section-header2,
.section-header3,
.section-header4,
.section-header5 {
  font-size:2.6rem;
  line-height: 1em;
  z-index: 1;
  font-weight: 900;
  color: #eee;
}

.section-text1 {
  color:white;
}

.section-button1 {
  position: absolute;
  bottom: 15em;
  min-width: 13%;
  margin-left: 43.5%;
  margin-right: 43.5%;
  text-align: center;
}

/* Section 2 */
.section2{
  position: relative;
  margin-top: -2em;
  width:100%;
  min-height:30em;
  background-color: white;
  display: block;
}

.section2-content {
  position: relative;
  padding-top: 3em;
  padding-bottom: 5em;
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
 }

  .section-header2 {
    color: black;
}


@media (max-width:1040px) {
  .section-header2{
    color: black;
    width: 7em;
    margin-right: auto;
    margin-left: auto;
  }
  .section-text2{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width:640px) {
  .section-header2{
    color: black;
    width: 100%;
  }
  .section-text2{
    width: 100%;
  } 
}

.world-map{
  height: 250px;
  margin-top: 3em;
  right: 50%;
  position: absolute;
}

@media (max-width:1040px) {
  .world-map{
    width: 60%;
    height: auto;
    left: 20%;
    position: relative;
  }
}

/* Section 3 */
.section3 {
  position: relative;
  margin-bottom: -1em;

  background: url("../img/securityguard3-1.jpg") no-repeat;
  background-size: cover;
  margin: 0;
  max-width: 100%;
  height: 50em;
}

.section3-content {
  position: relative;
  min-height: 50em;
  top: 10em;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

.section-header3 {
    text-align: left;
}

.section-text3 {
    text-align: left;
    color: white;
}

@media (max-width: 1040px) {
  .section-header3 {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-text3 {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 640px) {
  .section-header3 {
    width: 100%;
  }

  .section-text3 {
    width: 100%;
  }
}

/* Section 4 */
.section4 {
  position: relative;
  margin-bottom: -1em;
  width:100%;
  min-height:30em;
  background-color: white;
  display: block;
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
}

.section4-content {
  margin-top: 5em;
  margin-bottom: -5em;
}

.section-header4 {
  color: black;
}

.section4-icon {
  height: 6.5em;
  display: inline-block;
  width: 25%;
}

.service-icons {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Section 5 */
.section5 {
  position: relative;
  margin-bottom: -1em;

  background: url("../img/police2-1.png") no-repeat;
  background-size: cover;
  margin: 0;
  max-width: 100%;
  height: 50em;
}

.section5-content {
  position: relative;
  top: 15em;
  width: 100%;
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
}

.section-header5 {
  text-align: center;
}

.section-text5 {
  text-align: center;
  color: white;
}

/* Text input box */
#left-form {
  position: absolute;
  width: 50%;
}

#right-form {
  position: absolute;
  left: 50%;
  width: 50%;
}

label {
  display: block;
  color: #333;
  text-align: left;
  padding-top: 0.5em;
}

.separate-form {
  float: left;
}

.credit-card-info {
  width: 100%;
  margin-top: 20em;
}

#consultation-form {
  width: 85%;
  padding: 0.5em;
}

#consultation-form1 {
  width: 85%;
  padding: 0.5em;
}

#consultation-form2 {
  width: 85%;
  padding: 0.5em;
}

#consultation-form3 {
  width: 85%;
  padding: 0.5em;
}

#consultation-form4 {
  width: 85%;
  padding: 0.5em;
}

#consultation-form5 {
  width: 85%;
  padding: 0.5em;
}

#consultation-form6 {
  width: 85%;
  padding: 0.5em;
}

#consultation-form7 {
  width: 85%;
  padding: 0.5em;
}

#consultation-form8 {
  width: 85%;
  padding: 0.5em;
}

#consultation-form9 {
  width: 85%;
  padding: 0.5em;
}

#credit-card-form {
  margin-right: 1.5em;
  width: 20em;
  padding: 0.5em;
}

#security-code-form {
  margin-right: 1.5em;
  width: 10em;
  padding: 0.5em;
}

#expiration-date-form {
  margin-right: 1.5em;
  width: 11em;
  padding: 0.5em;
  margin-bottom: 2em;
}

input[type="submit"] {
  display: block;
  position: relative;
  width: 20em;
  /*margin-top: 28em;*/
  margin-left: auto;
  margin-right: auto;
}


@media(max-width:671px) {
  .credit-card-info {
    margin-top: 0;
  }
}

/* Styling for submit buttons */
.button-submit {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #FFF;
  padding: 0.75em 0.5em;
  color: #FFF;
  background-color: #333;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.button-submit:hover, .button-submit:focus {
  color: #999;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

/* Services page */
.services-section-header {
  font-size:2.6rem;
  line-height: 1em;
  z-index: 1;
  font-weight: 900;
  color: black;
  position: relative;
  width: 7.3em;
  margin-left:auto;
  margin-right:auto;
}

.services-section-body {
  text-align: center;
  width: 50%;
  margin-left:auto;
  margin-right:auto;
  font-weight: 100;
  font-size: 1.2em;
}

.services-section {
  position: relative;
  margin-bottom: -1em;
  width: 100%;
  min-height: 53em;
  max-height: 100000000px;
  display: block;
}

.services-section-content {
  position: absolute;
  padding-bottom: 3em;
  top: 6em;
  width: 100%;
  
}

.services-icons {
  width: 64.9em;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.services-column {
  width: 14em;
  border: 1px solid rgb(51, 51, 51);
  margin: 3em 1em;
  border-radius: 4px;
  display: inline-block;
  padding: 1em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
  text-align: center;
  color:black;
  background: linear-gradient(to bottom, #F8F8F8, #E9E9E9) repeat scroll 0% 0% #EEE;
}


.services-individual-icon {
  width: 8em;
  height: 8em;
}

.services-column a {
  text-decoration: none;
  color: #333;
}

@media (max-width:1038px) {
  .services-icons {
    width: 32.45em;
  }

  .services-column {
    margin: 1em 1em;
  }
}

@media (max-width:582px) {
  .services-icons {
    /*width: 16.225em;*/
    width: 100%;
  }

  .services-column {
    width: 100%;
    /*left: 10%;*/
    position: relative;
    margin: 1em 0em;
  }

  .services-section-body {
    width: 100%;
  }
}

/* Consultation page */
.consultation-section-content {
  position: absolute;
  top: 6em;
}

.consultation-section {
  min-height: 50em;
  position: relative;
  max-width: 42em;
  margin: 0em auto;
}

.consultation-header {
  text-align: left;
  top: -2em;
  color: black;
}

.consultation-section-text {
  text-align: left;
  color: black;
}

@media (max-width:671px) {
  #left-form {
    position: relative;
    width: 100%;
  }

  #right-form {
    position: relative;
    width: 100%;
    left: 0;
  }

  .consultation-section-content {
    position: absolute;
    left:10%;
    width:80%;
    top: 6em;
  }

  #consultation-form {
    width:100%;
  }

  #consultation-form1 {
    width:100%;
  }

  #consultation-form2 {
    width:100%;
  }

  #consultation-form3 {
    width:100%;
  }

  #consultation-form4 {
    width:100%;
  }

  #consultation-form5 {
    width:100%;
  }

  #consultation-form6 {
    width:100%;
  }

  #consultation-form7 {
    width:100%;
  }

  #consultation-form8 {
    width:100%;
  }

  #consultation-form9 {
    width:100%;
  }

  input[type="submit"] {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 4em;
  }
}

@media (max-width: 542px) {
  .consultation-header {
    font-size: 1.5em;
  }
}

.consultation-submit {
  margin-top: 32em;
  margin-bottom: 3em;
}

/* Security Guard Service */
/* Section 1 */
.guard-service-section1 {
  background: url("../img/securityguard1-1.jpg") no-repeat;
  background-size: cover;
  margin: 0;
  max-width: 100%;
  height: 50em;
}

/* Section 2 */
.services-section1 {
  position: relative;
  margin-bottom: -1em;
  width: 100%;
  min-height: 40em;
  max-height: 100000000px;
  display: block;
}

@media (max-width:1038px) {
  .services-section1 {
    min-height: 60em;
  }
}

@media (max-width:640px) {
  .services-section1 {
    min-height: 97em;
  }
}

.services-section-content1 {
  position: absolute;
  padding-bottom: 3em;
  top: 6em;
  width: 100%;
  
}

.services-icons1 {
  width: 70em;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.services-column1 {
  width: 14em;
  margin: 3em 1em;
  display: inline-block;
  padding: 1em;
  text-align: center;
}


.services-individual-icon1 {
  width: 8em;
  height: 8em;
}

.services-column1 a {
  text-decoration: none;
  color: #333;
}

@media (max-width:1038px) {
  .services-icons1 {
    width: 36.45em;
  }

  .services-column1 {
    margin: 1em 1em;
  }
}

@media (max-width:640px) {
  .services-icons1 {
    /*width: 16.225em;*/
    width: 100%;
  }

  .services-column1 {
    width: 100%;
    position: relative;
    margin: 1em 0em;
  }

  .services-section-body1 {
    width: 100%;
  }
}

/* Section 3 */
.security-types-content {
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  z-index: 1;
}

.security-types-header {
  text-align: left;
}

.security-types-body {
  text-align: left;
}

@media(max-width:1038px) {
  .security-types-header {
    text-align: center;
    width: 60%;
  }
  .security-types-body {
    text-align: center;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
  }
}

.security-types-body h3 {
  margin-bottom: -0.5em;
}

.security-types-body p {
  margin-bottom: 0.5em;
}

.security-types-picture{
  height: 400px;
  margin-top: 1em;
  left: 47%;
  position: absolute;
}

@media (max-width:1038px) {
  .security-types-picture{
    width: 60%;
    height: auto;
    position: relative;
    left: 20%;
  }
}

@media (max-width:915px) {
  .security-types-picture{
    margin-top: 0;
    width: 70%;
    height: auto;
    position: relative;
    left: 15%;
  }

  .security-types-header {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .security-types-body {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }


}

@media (max-width: 472px) {
  .security-types-header {
    width: 90%;
  }

  .security-types-body {
    width: 90%;
  }
}

/* Section 4 */
.services-section2 {
  position: relative;
  margin-bottom: -1em;
  width: 100%;
  min-height: 45em;
  display: block;
}

.services-section-content2 {
  position: absolute;
  padding-bottom: 3em;
  top: 6em;
  width: 100%;
}

.services-icons2 {
  width: 64.9em;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.services-column2 {
  width: 19em;
  margin: 0em 1em;
  display: inline-block;
  padding: 1em;
  text-align: center;
}

.services-individual-icon2 {
    height: 15em;
}

@media (max-width: 1038px) {
  .services-icons2 {
    width: 50em;
  }

  .services-individual-icon2 {
    height: 15em;
  }

  .services-column2 {
    /*margin: 1em 1em;*/
    width: 14em;
  }
}

@media (max-width: 775px) {
  .services-section2 {
    min-height: 35em;
  }

   .services-icons2 {
    width: 31em;
  }

  .services-individual-icon2 {
    height: 8em;
  }

  .services-column2 {
    width: 8em;
  }
}

@media (max-width: 519px) {
  .services-section2 {
    min-height: 60em;
  }
}


.services-column2 a {
  text-decoration: none;
  color: #333;
}

.services-section-header2 {
  font-size:2.6rem;
  line-height: 1em;
  z-index: 1;
  font-weight: 900;
  color: black;
  position: relative;
  width: 5.1em;
  margin-left:auto;
  margin-right:auto;
}

.services-section-body2 {
  text-align: center;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
}

@media (max-width:519px) {
  .services-icons2 {
    width: 100%;
  }

  .services-column2 {
    width: 80%;
    left: 10%;
    position: relative;
    margin: 1em 0em;
  }

  .services-section-body2 {
    width: 80%;
  }
}

/* Section 5 */
.security-types-content1 {
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  z-index: 1;
}

.security-types-header1 {
  text-align: left;
}


.security-types-body1 {
  text-align: left;
}

@media(max-width:1038px) {
  .security-types-body1 {
    width:60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(min-width:1429px) {
  .section2-content {
    padding-bottom: 7em;
  }
}

@media(max-width:915px) {
  .security-types-header1 {
    text-align: center;
  }

  .security-types-body1 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .services-section-body2 {
    width: 60%;
  }
}

@media(max-width:640px) {
   .security-types-body1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .services-section-body2 {
    width: 100%;
  }
}

.security-types-body1 ul li {
  line-height: 2em;
}

.security-types-body1 h3 {
  margin-bottom: -0.5em;
}

.security-types-body1 p {
  margin-bottom: 0.5em;
}

.security-types-picture1{
  width: 480px;
  margin-top: 3em;
  right: 50%;
  position: absolute;
}

@media (max-width:1040px) {
  .security-types-picture1 {
    width: 60%;
    height: auto;
    position: relative;
    left: 10%;
  }
}

/* Section 6 */
.services-section3 {
  background: url("../img/prestige1.jpg") no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: -1em;
  width: 100%;
  min-height: 45em;
  display: block;
}

.services-section-content3 {
  position: absolute;
  padding-bottom: 3em;
  top: 6em;
  width: 100%;
  
}

.services-icons3 {
  width: 64.9em;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.services-column3 {
  width: 100%;
  margin: 3em 1em;
  display: inline-block;
  padding: 1em;
  text-align: center;
}


.services-individual-icon3 {
  width: 100%;
  height: 12em;
}

.services-column3 a {
  text-decoration: none;
  color: #333;
}

.services-section-header3 {
  font-size:2.6rem;
  line-height: 1em;
  z-index: 1;
  font-weight: 900;
  color: black;
  position: relative;
  width: 5.1em;
  margin-left:auto;
  margin-right:auto;
}

.services-section-body3 {
  text-align: center;
  width: 50%;
  margin-left:auto;
  margin-right:auto;
}

@media (max-width:1038px) {
  .services-icons3 {
    width: 32.45em;
  }

  .services-column3 {
    margin: 1em 1em;
  }
}

@media (max-width:519px) {
  .services-icons3 {
    /*width: 16.225em;*/
    width: 100%;
  }

  .services-column3 {
    width: 80%;
    left: 10%;
    position: relative;
    margin: 1em 0em;
  }

  .services-section-body3 {
    width: 80%;
  }
}

/* Contact page */
.contact-section {
  top: 4em;
  position: relative;
  max-width: 42em;
  margin: 0em auto;
}

.contact-h1 {
  text-align: left;
  position: relative;
  color: #333;
}

.contact-section-text1 {
  position: relative;
  text-align: left;
  color: #333;
}

.contact-section-text2 {
  position: relative;
  text-align: left;
  color: #333;
}

#contact-form {
  width: 100%;
  padding: 0.5em;
}

#contact-form1 {
  width: 100%;
  padding: 0.5em;
}

#contact-form2 {
  width: 100%;
  padding: 0.5em;
}

#contact-form3 {
  width: 100%;
  padding: 0.5em;
}

#contact-form4 {
  width: 100%;
  padding: 0.5em;
}

.contact-form-wrapper {

}

.contact-submit {
  margin-top: 3em;
  margin-bottom: 10em;
}

/* Footer */
#footer {
  width: 100%;
  height: 3.5em;
  background-color: #333;
  margin-top: -0.2em;
  position: absolute;
}

.footer-content {
  margin: auto;
}

.footer-comment {
  float: left;
  display: block;
  margin-top: 1em;
  margin-left: 2em;
  color: #FFF;
}

.social-links {
  float: left;
  display: block;
  margin-left: 1em;
  margin-top: 0.9em;
}

.social-media-logos {
  margin: 0em 0.2em;
}

.copyright {
  float: right;
  display: block;
  margin-top: 1em;
  margin-right: 2em;
  color: #FFF;
}

/* Events */
.event-section {
  min-height: 90em;
}

/* Thank you/Order received */
.thanks-header {
  color: #333;
}

.thanks-section-text {
  color: #333;
}


/* Make footer responsive */
@media (max-width:567px) {
  .footer-comment {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    float: none;
    margin: none;
    padding-top: 1.5em;
    margin-top: 0;
  }

  .social-links {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 7em;
  }

  .copyright {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 13em; 
  }

  #footer {
    height: 10em;
    margin-top: -1em;
  }
}