@import url(http://fonts.googleapis.com/css?family=Hind:400,700);

body {
  font-family: "Hind", Helvetica, Arial, sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: inline-block;
}

code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  white-space: pre;
  display: block;
}

/* Responsive Images */
img {
  height: auto; 
  width: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #288BB2;
}

a:hover, a:focus {
  text-decoration: underline;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  text-decoration: none;
  display: inline-block;
  padding: 1em 0.75em;
  color: #FFF;
  background-color: #333;
  /*border-radius: 0.25em;*/
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  color: #999;
  text-decoration:none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

/* Styling for submit buttons */
.button-submit {
  display: inline-block;
  border-radius: 5px;
  padding: 0.75em 0.5em;
  color: #FFF;
  background-color: #333;
  /*border-radius: 0.25em;*/
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.button-submit:hover, .button-submit:focus {
  color: #999;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

/* Styling for regular button */
.button-regular {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 1em 3em;
  color: #FFF;
  background-color: #288BB2;
  border-radius: 0.2em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-regular:hover, .button-regular:focus {
  background-color: #227893;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

/* Text input box */
.contact-h1 {
  text-align: left;
  position: relative;
  color: #333;
}

.contact-section-text1 {
  position: relative;
  text-align: left;
  color: #333;
}

.contact-section-text2 {
  position: relative;
  text-align: left;
  color: #333;
}

#contact-form {
  width: 200px;
  padding: 0.5em;
  display:block;
}

#contact-form1 {
  width: 200px;
  padding: 0.5em;
  display:block;
}

#contact-form2 {
  width: 200px;
  padding: 0.5em;
  display:block;
}

#contact-form3 {
  width: 200px;
  padding: 0.5em;
  display:block;
}

#contact-form4 {
  width: 200px;
  padding: 0.5em;
  display:block;
}

.contact-submit {
  margin-top: 1em;
}

.spacing {
  padding: 1em 0em;
}



/* 
  TEXT ELEMENTS -------------------

  FONT CLASSES ELEMENTS -------------------
*/


/* 
  HEADING CLASSES ELEMENTS ----------------
*/

.header-one{
  margin-top: 0em;
  margin-bottom: -0.3em;
  font-size: 4em;
}

.header-two{
  margin-top: 0.5em;
  margin-bottom: -0.3em;
  font-size: 3em;
}

.header-three{
  margin-top:0.5em;
  margin-bottom: -0.3em;
  font-size: 2em;
}

/* Product listing classes */

.services-column {
  width: 14em;
  border: 1px solid rgb(51, 51, 51);
  margin: 3em 1em;
  border-radius: 4px;
  display: inline-block;
  padding: 1em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
  text-align: center;
  color:black;
  background: linear-gradient(to bottom, #F8F8F8, #E9E9E9) repeat scroll 0% 0% #EEE;
}


.services-individual-icon {
  width: 8em;
  height: 8em;
}

/* 
  COMBINED ELEMENTS -------------------
*/